/* color pallete https://coolors.co/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf
/* CSS HEX */
/* --isabelline: #edede9ff; */
/* --timberwolf: #d6ccc2ff;
--linen: #f5ebe0ff;
--champagne-pink: #e3d5caff;
--pale-dogwood: #d5bdafff;
*/
#div {
  background-color: #f5ebe0ff;
}
